:root {
  --pimary-color: #757575;
  --secondary-color: #212121;
  --accent-color: #2196f3;
  --primery-white-color: #ffffff;
  --secondary-white-color: #EEEEEE;
  --white-color: #f5f4fa;
  --hero-background-color: #C4C4C4;
  --footer-background-color: #2F303A;
  --background-overlay: rgba(33, 150, 243, 0.9);
  --icons-color: #AFB1B8;
  --transition-fx: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}

.hidden-name {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--primary-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background-color: var(--primery-white-color);
  color: var(--pimary-color);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  max-height: auto;
}

button {
  cursor: pointer;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.top-nav,
.menu,
.contact-list,
.to-do-gallery,
.team-list,
.benefits,
.filter-btn-list,
.projects {
  display: flex;
}

.benefits,
.to-do-gallery,
.team-list,
.projects {
  gap: 30px;
}

.modal-btn {
  height: 50px;
  width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primery-white-color);
  background: var(--accent-color);
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background var(--transition-fx);
}

.modal-btn:hover,
.modal-btn:focus {
  background: #188ce8;
}

.filter-button:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  background: var(--white-color);
  color: var(--secondary-color);
  border-radius: 4px;
  border-color: transparent;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  padding: 6px 22px;
  transition: background-color var(--transition-fx), box-shadow var(--transition-fx), border-radius var(--transition-fx), color var(--transition-fx);
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--primery-white-color);
}

.filter-btn__current {
  background-color: var(--accent-color);
  color: var(--primery-white-color);
}

.filter-btn-list {
  justify-content: center;
  margin-bottom: 50px;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo__studio {
  color: #000000;
}

.logo-header {
  margin-right: 93px;
}

.footer__logo {
  width: 145px;
  height: 31px;
}

.logo__studio.footer {
  color: var(--primery-white-color);
}

.section-name {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-color);
  margin-bottom: 50px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primery-white-color);
  transition: background-color var(--transition-fx);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}
.social-list__link_join {
  background: rgba(255, 255, 255, 0.1);
}

.social-list__icon {
  fill: var(--icons-color);
  transition: fill var(--transition-fx);
}
.social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon {
  fill: var(--primery-white-color);
}
.social-list__icon_join {
  fill: var(--primery-white-color);
}

.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-fx), visibility var(--transition-fx);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--primery-white-color);
  padding: 40px;
}
.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
}
.modal-close-icon {
  transition: fill var(--transition-fx);
}
.modal-close-btn:hover .modal-close-icon, .modal-close-btn:focus .modal-close-icon {
  fill: var(--accent-color);
}
.modal-form-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
  color: var(--secondary-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-field {
  margin-bottom: 10px;
}
.modal-form-textarea {
  margin-bottom: 20px;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  font-size: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-fx);
}
.modal-form-input-name {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: var(--pimary-color);
}
.modal-form-input-container {
  display: block;
  position: relative;
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-form-message {
  display: block;
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 16px;
  transition: border-color var(--transition-fx);
}
.modal-form-message::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-form-submit {
  height: 50px;
  width: 200px;
  align-self: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primery-white-color);
  background: var(--accent-color);
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background var(--transition-fx);
}
.modal-form-submit:hover, .modal-form-submit:focus {
  background: #188ce8;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--transition-fx);
}
.modal-form-input:focus + .modal-icon {
  fill: var(--accent-color);
}

/* =========================CHECKBOX=================== */
.check-box-cont {
  position: relative;
  display: flex;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color var(--transition-fx);
}
.modal-form-check:checked + .check-box-cont {
  border: transparent;
  background-color: var(--accent-color);
}

.check-box-on {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity var(--transition-fx);
}
.modal-form-check:checked + .check-box-cont .check-box-on {
  opacity: 1;
}

.icon-check-box {
  fill: var(--secondary-color);
  transition: fill var(--transition-fx);
}
.modal-form-check:checked + .check-box-cont .icon-check-box {
  opacity: 0;
}
.modal-form-check:focus + .check-box-cont .icon-check-box {
  fill: var(--accent-color);
}

.modal-form-check-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  color: var(--pimary-color);
}

.agreement-link {
  color: var(--accent-color);
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  position: relative;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--transition-fx);
  color: var(--secondary-color);
  margin-bottom: 28px;
}
.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}
.menu__link.menu__link_current {
  color: var(--accent-color);
}
.menu__link.menu__link_current::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  margin-top: 28px;
}

.contact-list__link {
  display: flex;
  align-items: center;
  transition: color var(--transition-fx);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--pimary-color);
}
.contact-list__link:hover, .contact-list__link:focus {
  color: var(--accent-color);
}

.contact-list__item:not(:last-child) {
  margin-right: 50px;
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bkg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--hero-background-color);
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
}
.hero-name {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: var(--primery-white-color);
}

.benefits__name {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-bottom: 10px;
}

.benefits__item {
  width: 270px;
}

.benefits__icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background: var(--white-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.to-do-section {
  padding-top: 0;
}

.to-do-gallery__thumb {
  position: relative;
}

.to-do-gallery__name {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primery-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background: var(--white-color);
}
.team-card {
  background: var(--primery-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-card__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-color);
  margin-bottom: 10px;
}
.team-card__job-titel {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}
.team-card__info {
  padding-top: 30px;
  padding-bottom: 30px;
}

.clients-logo {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.clients-logo__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  transition: border var(--transition-fx);
}
.clients-logo__link:hover, .clients-logo__link:focus {
  border: 1px solid var(--accent-color);
}
.clients-logo__link:hover .clients-logo__icon, .clients-logo__link:focus .clients-logo__icon {
  fill: var(--accent-color);
}
.clients-logo__icon {
  fill: var(--icons-color);
  transition: fill var(--transition-fx);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--footer-background-color);
}
.footer-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.benefits__name.footer-join {
  color: var(--primery-white-color);
  margin-bottom: 20px;
}

/* ==================FOOTER FORM======================= */
.footer-modal-form {
  display: flex;
}
.footer-modal-form_input {
  width: 358px;
  height: 50px;
  padding-left: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--footer-background-color);
  color: var(--primery-white-color);
}
.footer-modal-form_input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.modal-btn__footer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
}

.modal-form-btn-footer:hover,
.modal-form-btn-footer:focus {
  background: #188ce8;
}

.modal-btn__icon {
  margin-left: 10px;
}

.address__map,
.address .address__mail,
.address .address__phone {
  font-style: normal;
  color: var(--primery-white-color);
}

.address .address__mail,
.address .address__phone {
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-fx);
}
.address .address__mail:hover, .address .address__mail:focus,
.address .address__phone:hover,
.address .address__phone:focus {
  color: var(--accent-color);
}

.address .address__phone:hover,
.address .address__phone:focus {
  color: var(--accent-color);
}

.ws-address {
  margin-top: 20px;
}

.address__list:not(:last-child) {
  margin-bottom: 9px;
}

.projects {
  flex-wrap: wrap;
}

.project-card {
  flex-basis: calc((100% - 60px) / 3);
  background-color: var(--primery-white-color);
}
.project-card-link {
  display: block;
  transition: box-shadow var(--transition-fx);
}
.project-card-link:hover, .project-card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  margin-bottom: 4px;
}
.project-name-info {
  border: 1px solid var(--secondary-white-color);
  padding: 20px 24px;
}

.project-info {
  color: var(--pimary-color);
  font-size: 16px;
  line-height: 1.88;
}

.thumb-project-card {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translate(0, 101%);
  transition: transform var(--transition-fx);
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  color: var(--primery-white-color);
  background-color: var(--background-overlay);
}
.project-card-link:hover .overlay, .project-card-link:focus .overlay {
  transform: translate(0, 0);
}/*# sourceMappingURL=main.css.map */