.benefits__name {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;

  color: var(--secondary-color);

  margin-bottom: 10px;
}

.benefits {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.benefits__icon-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 120px;
  background: var(--white-color);
  border-radius: 4px;

  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .benefits__name {
    text-align: unset;
  }

  .benefits {
    flex-direction: initial;
    flex-wrap: wrap;
  }
  .benefits__item {
    width: 354px;
    height: 224px;
  }

  .benefits__icon-container {
    height: 120px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits {
    flex-wrap: initial;
  }

  .benefits__item {
    width: 270px;
  }
  .benefits__icon-container {
    width: 270px;
    height: 120px;
  }
}
