.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background: var(--footer-background-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.benefits__name.footer-join {
  color: var(--primery-white-color);

  margin-bottom: 20px;
}

.footer-modal-form {
  display: flex;

  &_input {
    width: auto;
    height: 50px;
    padding-left: 15px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--footer-background-color);
    color: var(--primery-white-color);

    &::placeholder {
      font-size: 16px;
      line-height: 1.25;
      color: rgba(255, 255, 255, 0.6);
    }
  }
}

.modal-btn__footer {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  margin-left: 12px;
}

.modal-form-btn-footer:hover,
.modal-form-btn-footer:focus {
  background: #188ce8;
}

.modal-btn__icon {
  margin-left: 10px;
}

.address__map,
.address .address__mail,
.address .address__phone {
  font-style: normal;

  color: var(--primery-white-color);
}

.address .address__mail,
.address .address__phone {
  color: rgba(255, 255, 255, 0.6);

  transition: color var(--transition-fx);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.address .address__phone:hover,
.address .address__phone:focus {
  color: var(--accent-color);
}

.ws-address {
  margin-top: 20px;
}

.address__list:not(:last-child) {
  margin-bottom: 9px;
}

@media screen and (min-width: 325px) {
  .footer-modal-form_input {
    width: 300px;
  }
}

@media screen and (min-width: 380px) {
  .footer-modal-form_input {
    width: 358px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-container:last-child {
    flex-wrap: wrap;
  }

  .footer-modal-form {
    flex-direction: column;
    align-items: center;

    .footer-modal-form_input {
      margin-bottom: 20px;
    }
  }
  .footer__logo {
    display: inline-block;
  }

  .footer__logo-adress-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .address.list {
    text-align: center;
  }
  .footer-join {
    text-align: center;
  }

  .modal-form-cont {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal-form-cont {
    margin-top: 60px;
  }

  .footer-container {
    justify-content: space-between;
  }

  .footer_input {
    width: 358px;
  }
}

@media screen and (max-width: 767px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer__logo {
    display: inline-block;
  }

  .footer__logo-adress-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 60px;
  }

  .address.list {
    text-align: center;
  }

  .footer__benefits-container {
    margin-bottom: 60px;
  }

  .footer-modal-form {
    flex-direction: column;
    align-items: center;

    .footer-modal-form_input {
      margin-bottom: 20px;
    }
  }
}
